* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 219, 182);
    border: 5px solid rgb(58, 75, 172);
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(58, 75, 172);;
}

.logo {
    width: 80px;
    margin: 10px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 30px;
}

h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
}

h3 {
    text-align: center;
    border: 3px solid black;
    margin: auto;
    width: fit-content;
    margin-top: 15px;
    background: rgb(58, 75, 172);
    border-radius: 5px;
    color: white;
    padding: 0 5px;
}

.score-board {
    margin: 10px auto;
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    padding: 15px 20px;
    width: 200px;
    position: relative;
    margin-top: 0;
}

.round {
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    color: white;
    background: rgb(58, 75, 172);;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(22, 17, 7);
}

.player {
    background: rgb(58, 75, 172);;
    color: white;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 3px solid black;
}

#user {
    position: absolute;
    top: 22px;
    left: -40px;
}

#computer {
    position: absolute;
    top: 22px;
    right: -45px;
}

.result {
    font-size: 30px;
}
.result p{
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.moves img {
    width: 100px;
}

.moves {
    text-align: center;
    margin-right: 20px;
    margin-top: 25px;
    
}
.move{
    display: inline-block;
    margin: 0 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    padding: 2px;
}

.move img:hover {
    cursor: pointer;
    background: rgb(58, 75, 172);;
    margin: 0 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    padding: 5px;
}